{
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single"
        ],
        "comma-dangle": [
            2,
            "always"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-unused-vars": [
            2,
            {
                "args": "after-used",
                "varsIgnorePattern": "_"
            }
        ]
    },
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true
    },
    "plugins": [
    ]
}